<div class="notifications">
  <% @marquees.each do |marquee| %>
    <marquee><%= marquee.text %></marquee>
  <% end %>
</div>
<div class="home-content">
  <div class="carousel-container">
    <% @carousel_photos.each do |photograph| %>
      <div class="carousel fade">
        <%= image_tag photograph.photo.url %>
        <div class="caption-container">
          <span class="caption"><%= photograph.caption %></span>
        </div>
      </div>
    <% end %>

    <a class="unit-nav prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="unit-nav next" onclick="plusSlides(1)">&#10095;</a>
    <div class="carousel-dots">
      <% (1..@carousel_photos.length).each do |i| %>
        <span class="dot" onclick="currentSlide(<%= i %>)"></span>
      <% end %>
    </div>
  </div>
  <div class="contact-container">
    <div class="contact">
      <%= form_for(@client, url: client_path, method: :post, class: 'client-form') do |form| %>
        <div>
          <%= form.text_field :name, placeholder: 'Name' %>
        </div>
        <div>
          <%= form.text_field :email, placeholder: 'Email' %>
        </div>
        <div>
          <%= form.text_field :contact_no, placeholder: 'Phone Number' %>
        </div>
        <div>
          <%= form.text_field :note, placeholder: 'Specific Interest' %>
        </div>
        <%= form.submit 'Submit' %>
      <% end %>
    </div>
  </div>
</div>
