<div class="home-content">
  <div class="left-home-content">
    <div class="carousel-container">
      <% @carousel_photos.each do |photograph| %>
        <div class="carousel fade">
          <%= image_tag photograph.photo.url %>
          <div class="caption-container">
            <span class="caption"><%= photograph.caption %></span>
          </div>
        </div>
      <% end %>

      <a class="unit-nav prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="unit-nav next" onclick="plusSlides(1)">&#10095;</a>
      <div class="carousel-dots">
        <% (1..@carousel_photos.length).each do |i| %>
          <span class="dot" onclick="currentSlide(<%= i %>)"></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right-home-content">
    <div class="contact-container">
        <%= form_for(@client, url: client_path, method: :post) do |form| %>
          <div class="text-field-container">
            <%= form.text_field :name, placeholder: 'Name', class: 'text-field' %>
          </div>
          <div class="text-field-container">
            <%= form.text_field :contact_no, placeholder: 'Phone Number', class: 'text-field' %>
          </div>
          <div class="text-field-container">
            <%= form.text_field :email, placeholder: 'Email', class: 'text-field' %>
          </div>
          <div class="text-field-container">
            <%= form.text_field :note, placeholder: 'Specific Interest', class: 'text-field' %>
          </div>
          <%= form.submit 'SUBMIT', class: 'button-submit' %>
        <% end %>
    </div>
  </div>
  <div class="home-about">
    LANDMARK DEVELOPER IS <%= link_to('CERTIFIED', about_path) %> BY JHARKHAND GOVERNMENT. <%= link_to('Learn More', about_path) %>
  </div>
</div>
