<p id="notice"><%= notice %></p>

<h1>Admin Photographs</h1>

<table>
  <thead>
    <tr>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_photographs.each do |admin_photograph| %>
      <tr>
        <td><%= admin_photograph.caption %></td>
        <td><%= link_to 'Show', admin_photograph %></td>
        <td><%= link_to 'Edit', edit_admin_photograph_path(admin_photograph) %></td>
        <td><%= link_to 'Destroy', admin_photograph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Photograph', new_admin_photograph_path %>
