<h1>Re-Upload Photograph</h1>


<%= form_for(@photograph, url: admin_photograph_path(@photograph), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit 'Upload' %>
  </div>
<% end %>

<%= link_to 'Show', admin_photograph_path(@photograph) %> |
<%= link_to 'Back', admin_photographs_path %>