<!DOCTYPE html>
<html>
  <head>
    <title>Landmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-container">
      <%= render partial: '/layouts/shared/header' %>
      <div class="main-content">
        <%= yield %>
      </div>
      <%= render partial: '/layouts/shared/footer' %>
    </div>
  </body>
</html>
